@import "~bulma/bulma.sass";
@import '@creativebulma/bulma-divider';

.help {
  font-size: $size-6;
}

.oembed {
  margin-top: 3rem;
}


.turbolinks-progress-bar{
  height: 10px;
  background-color: green;
}
