@import "~bulma/bulma.sass";
@import '@creativebulma/bulma-divider';

.help {
  font-size: $size-6;
}

.turbolinks-progress-bar{
  height: 5px;
  background-color: #0065ff;
}

div.buttons {
  margin-top: 10px;
}
